<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<title>Manager Of Legends</title>
	</head>
	<body>
		<div id="banner">
			<h1 id="banner-text">Manager Of Legends</h1>
		</div>
		<div id="container-main">
			<% if (news.length > 0) { %>
				<div id="container-news">
				<% for(var i=0; i<news.length; i++) {%>
					<% if (news[i].visible) { %>
						<div class="news" >
							<div class="news-title">
								<%- news[i].title %>
							</div>
							<div class="news-content">
								<%- news[i].content %>
							</div>
							<div class="news-author">
								<p class="news-authour-name">Author: <i><%= news[i].author %></i></p>
								<p class="news-authour-createDate">Pusblished: <%= news[i].createDate.getDate() + '.' + (news[i].createDate.getMonth() + 1) + '.' + news[i].createDate.getFullYear() %></p>
							</div>
						</div>
					<% } %>
				<% } %>
				</div>
			<% } %>
			<hr>
			<a href="/login">Log in</a>
			<a href="/signup">Sign up</a>
		</div>
	</body>
</html>